{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<section class="properties">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card property-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ property.title }}</h5>
                        <div id="propertyImageCarousel" class="carousel slide" data-bs-ride="carousel" style="width: 100%; height: 200px;">
                            <div class="carousel-inner">
                                {% for image in property.pictures.all %}
                                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                        <img src="{{ image.picture.url }}" alt="Property Image" class="d-block w-100 img-thumbnail" />
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#propertyImageCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#propertyImageCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <div class="col-md-4">  
                           <div class="form-floating">
                              <textarea class="form-control"
                               placeholder="Leave a comment here"
                              id="floatingTextarea2"
                                style="width: 500px;
                                      height: 150px"></textarea>
                               <label for="floatingTextarea2">Comments</label>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-4"><br /><br /><br /><br /><br /><br />
                <div style="text-align: left; margin-left: 20px;">
                    <table class="table table-striped" style="width: 100%;">
                        <tbody>
                            <tr>
                                <th>Total Price:</th>
                                <td>{{ property.Total_Price }}</td>
                            </tr>
                            <tr>
                                <th>Price per meter:</th>
                                <td>{{ property.Price_per_meter }}</td>
                            </tr>
                            <tr>
                                <th>Ground Area:</th>
                                <td>{{ property.Ground_Area }}</td>
                            </tr>
                            <tr>
                                <th>Year of Construction:</th>
                                <td>{{ property.Year_of_Construction }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-5"><br /><br />
                        Description: {{ property.description }}
                        <br />
                        Features:{{ property.Features }}
                        <br />
                        Address:{{ property.address }}
                        <br />
                        Number of rooms:{{ property.Number_of_rooms }}
                        <br />
                        Phone number:{{ property.phone_number }}
                        <br />
                        Area:{{ property.Area }}
                        <br />
                        Builder:{{ property.Builder }}
                    </div> 
                </div> 
            </div> 
           
                
            </div>
        </div>
    </div>
</section>
{% endblock %}