{% extends 'base.html' %}
{% load humanize %}
{% block content %}
                <div class="row property-list">
                    {% for property  in properties %}
                        <div class="property-items">
                            <img class="img-fluid" src="{{ property.pictures.first.picture.url }}">
                            <div class="details">
                                <div class="details-sub">
                                    <h5>{{ property.title }}</h5>
                                    <h5 class="price"> ${{ property.Total_Price |intcomma}} </h5>
                                </div>
                                <a href="{% url 'detail' property.pk %}" >Details</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
{% endblock %}